.choice {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #1b263b;
    font-size: 2rem;
}
.choice:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #415a77;
    transition: transform 100ms;
    transform: scale(1.02);
}
.choiceLetter {
    background: #1b263b;
    padding: 2rem 2.5rem;
    color: white;
}
.choiceText {
    background: #1b263b;
    padding: 2rem;
    width: 100%;
}
.correct {
    background: green;
}
.incorrect {
    background: red;
}
#hud {
    display: flex;
    justify-content: space-between;
}
#score {
    margin: -3rem;
}
.hudPrefix {
    text-align: center;
    font-size: 2rem;
}
.hudMainText {
    text-align: center;
}
#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #1b263b;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}
#progressBarFull {
    height: 100%;
    background: #1b263b;
    width: 0%;
}
@media screen and (max-width: 768px) {
    .choice {
        min-width: 40rem;
    }
}